*{
    margin: 0;
    padding: 0;
}

body, html{
    height: 100%;
}

body{
    background:  url("../img/fundo.png") repeat-x;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
    height: 100%;
    display: flex;
    flex-direction: column;
}


.container main{
    flex: 1 1 0;
}

.container header {
    min-height: 250px;
    background:  url("../img/detalhe-topo.png") no-repeat top right;
}


ul{
    list-style: none;
}

a{
    text-decoration: none;
}
.nav-header{
    background: url("../img/logo.png") no-repeat;
    margin: 20px 50px; /*distancia da borda*/
    padding-top: 90px; /*Afasta a nav para que a logo possa ser visualizada*/
}

.nav-header li{
    float: left;
}

.nav-header li a{
    display: block;
    padding: 10px 15px;
    color: #fff;
    background-color: #b10333;
}

.nav-header li a:hover{
    background-color: #69001d;
}

.container main{
    display: flex;
    margin: 0 45px;
}

.container section {
    flex: 1 1 0;
    display: flex;
}

.content{
    flex: 1 1 0;
}

.box-main{
    background: url("../img/fundo-caixa.png");
    margin: 0 5px;
    padding: 5px;
}
.box-main .box-title{
    background-color: #284c70;
    color: #fff;
    padding: 3px;
}

.box-main h3{
    text-transform: uppercase;
    background-color: #b10333;
    padding: 5px;
    color: #fff;
}

.box-content{
    background-color: #fff;
    text-align: justify;
    margin-top: 15px;
    padding: 5px;
}

.box-image{
    max-width: 300px;
    margin: auto;
    margin-top: 10px;
}

.box-image img{
    width: 100%;
}

.read-more{
    color: #b10333;
    text-decoration: underline;
    text-transform: capitalize;
}

aside.box-main ul li{
    margin: 10px 0;
}

.container footer{
    padding: 30px;
    color: #fff;
    background-color: #284c70;
    text-align: center;
}
